---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import Hero from "../layouts/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <Hero />
  <main class="max-w-[1140px]"></main>
</Layout>

<style></style>
