---
import { about } from "../lib/data";
---

<div
  class="w-max-content grid grid-cols-2 lg:grid-cols-4 gap-8 px-4 text-white"
>
  {
    about.map((card, i) => (
      <div class="flex items-center flex-col text-center">
        <div class="border-4 rounded-full p-4 size-20 bg-[#01876B] flex flex-wrap">
          <img src={card.icon} aria-hidden="true" />
        </div>
        <p>{card.title}</p>
      </div>
    ))
  }
</div>
