---
import { Image } from "astro:assets";
import logoIPN from "/src/img/logo_ipn.webp";
---

<section
  class="w-full bg-hero-pattern bg-center bg-cover h-[70dvh] md:min-h-[95dvh] flex items-center justify-center"
>
  <div class="w-max-content grid gap-6 px-8">
    <Image
      src={logoIPN}
      alt="Logo IPN, la tecnica al servicio de la patria."
      class="h-24 w-auto object-contain hidden md:block"
    />
    <div class="bg-black/50 text-white p-8">
      <h1 class="font-black text-fluid-lg">La Investigación en Citedi</h1>
      <h2 class="font-extrabold text-fluid-md">
        Centro de Investigación y Desarrollo de Tecnología Digital
      </h2>
    </div>
  </div>
</section>
