---
import { cards } from "../lib/data";

function highlightText(text: string) {
  const regex = /\*\*(.*?)\*\*/g; // Captura texto entre **
  return text.split(regex).map((part) =>
    part.match(regex) ? (
      <span class="font-bold text-lg">{part}</span> // Aplicación de clases de Tailwind
    ) : (
      part
    )
  );
}
---
