---
import Card from "../components/Card";
---

<main class="w-full">
  <section class="w-full bg-tertiary py-14 flex justify-center">
    <p class="text-fluid-md w-max-content px-8">
      La investigación científica que se desarrolla en CITEDI se agrupa en
      líneas de generación y aplicación del conocimiento (LGAC) que permite
      concentrar nuestros esfuerzos de investigación y de formación de capital
      humano de nivel posgrado para obtener resultados con mayor impacto
      científico, tecnológico y social.
    </p>
  </section>
  <section class="w-full py-14 flex justify-center">
    <Card />
  </section>
</main>
