---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Investigacion CITEDI" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Geomanist";
    src: url("fonts/Geomanist-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Geomanist-Black";
    src: url("fonts/Geomanist-Black.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  html {
    font-family: "Geomanist", sans-serif;
  }
  h1 {
    font-family: "Geomanist-Black", sans-serif;
  }
</style>
